<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TextColors</key>
	<array>
		<string>336699</string>
		<string>FF3333</string>
		<string>FF5CD6</string>
		<string>B24096</string>
		<string>4E4E81</string>
		<string>1975A3</string>
		<string>727272</string>
		<string>A366FF</string>
		<string>FF7519</string>
		<string>464646</string>
	</array>
</dict>
</plist>
